<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Gra w kółko i krzyżyk" />
    <meta name="keywords" content="gra, kółko, krzyżyk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kółko i krzyżyk</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/front.js"></script>
</head>

<body>
    <% 
        let messages = ["Teraz krzyżyk", "Teraz kółko", "Oczekiwanie na gracza..."];
        let s = ["×", "⃝"];  //first player (room creator) is always "×"
    %>
    <h2 id="message">
        <% if (room.draw == true) { %>
            <span class="active">Remis!</span>
        <% } else if (room.winner != null) { %>
            <span <%= playerNumber == room.winner ? "class=active" : "" %>>Wygrywa <%= room.nicks[room.winner] %></span>
        <% } else { %>
            <%= messages[room.turn]; %>
            <% if (room.turn == 0 || room.turn == 1) { %>
                <span <%= playerNumber == room.turn ? "class=active" : "" %>>(<%= room.nicks[room.turn] %>)</span>
            <% } %>
        <% } %>
    </h2>
    <form method="post">
        <div id="board">
            <% for (let i = 0; i < 9; i++) { %>
                <button name="position" value=<%= i %>>
                    <span <%= playerNumber == room.board[i] ? "class=active" : "" %>><%= s[room.board[i]] %></span>
                </button>
            <% } %>
        </div>   
    </form>
    <a id="homepage" href="/">Strona główna</a>
</body>

</html>